<h1>Edit Author</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.offers_offer_author_path(@conn, :update, @offer_id, @author)) %>

<span><%= link "Back", to: Routes.offers_offer_author_path(@conn, :index, @offer_id) %></span>
