<h1>Show Certificate</h1>

<ul>

</ul>

<span><%= link "Edit", to: Routes.offers_certificate_path(@conn, :edit, @certificate) %></span>
<span><%= link "Back", to: Routes.offers_certificate_path(@conn, :index) %></span>
