<h1>Edit Status</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.offers_status_path(@conn, :update, @status)) %>

<span><%= link "Back", to: Routes.offers_status_path(@conn, :index) %></span>
